HELP.md
.gradle
.github
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Resources ###
src/main/resources/application-dev.properties
src/main/resources/mongo-data
src/main/resources/postgres-data
src/main/resources/redis-data
src/main/resources/docker-compose.yml
src/main/resources/application-dev.yml
src/main/resources/application.yml
src/main/resources/application-test.yml
src/main/resources/application-testdata.yml
## Test

es-logs/
/es-logs/
/esdata/

