version: "3.9"

services:
  # PostgreSQL
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - spring-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d shootpointer"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # PgAdmin
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "3305:80"
    networks:
      - spring-network
    restart: always

  # MongoDB
  mongo:
    image: mongo:8
    container_name: mongo
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb
    networks:
      - spring-network
    restart: always
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  # Spring Boot Application
  shootpointer:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    container_name: shootpointer
    command: >
      java
      -javaagent:/pinpoint-agent/pinpoint-bootstrap.jar
      -Dpinpoint.agentId=${PINPOINT_AGENT_ID}
      -Dpinpoint.applicationName=${PINPOINT_APPLICATION_NAME}
      -jar /app.jar
    volumes:
      - /home/azureuser/pinpoint-agent:/pinpoint-agent
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: "${SPRING_PROFILES_ACTIVE}"

      # 서버 포트
      SERVER_PORT: "9000"

      # 데이터베이스 설정
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME}

      # JPA 설정
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
      SPRING_JPA_SHOW_SQL: ${SPRING_JPA_SHOW_SQL}
      SPRING_JPA_DATABASE_PLATFORM: ${SPRING_JPA_DATABASE_PLATFORM}
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: ${SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT}
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: ${SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL}

      # Hikari 연결 풀
      SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE: ${SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE}
      SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE: ${SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE}
      SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT: ${SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT}
      SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT: ${SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT}
      SPRING_DATASOURCE_HIKARI_MAX_LIFETIME: ${SPRING_DATASOURCE_HIKARI_MAX_LIFETIME}

      # MongoDB
      SPRING_DATA_MONGODB_URI: ${SPRING_DATA_MONGODB_URI}

      # 타임존
      TZ: ${TZ}

      # 로깅 레벨
      LOGGING_LEVEL_ORG_HIBERNATE_SQL: ${LOGGING_LEVEL_ORG_HIBERNATE_SQL}
      LOGGING_LEVEL_ORG_HIBERNATE_TYPE_DESCRIPTOR_SQL_BASICBINDER: ${LOGGING_LEVEL_ORG_HIBERNATE_TYPE_DESCRIPTOR_SQL_BASICBINDER}

      # Elasticsearch
      SPRING_ELASTICSEARCH_URIS: ${SPRING_ELASTICSEARCH_URIS}

    ports:
      - "9000:9000"
    networks:
      - spring-network
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

   # Elasticsearch
  elasticsearch:
    build:
      context: .
      dockerfile: Dockerfile.elesticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:8.6.0
    container_name: elasticsearch
    user: "0"
    environment:
      discovery.type: "single-node"
      xpack.security.enabled: "false"
      logger.level: "debug"
      ES_JAVA_OPTS: "-Xms2g -Xmx2g"
    entrypoint: >
      bash -c "
        mkdir -p /usr/share/elasticsearch/logs &&
        chmod -R 775 /usr/share/elasticsearch/logs &&
        chown -R 1000:1000 /usr/share/elasticsearch &&
        echo 'Starting Elasticsearch...' &&
        su -s /bin/bash elasticsearch -c '/usr/local/bin/docker-entrypoint.sh eswrapper'
      "
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - /home/azureuser/elasticsearch/esdata:/usr/share/elasticsearch/data
      - /home/azureuser/elasticsearch/es-logs:/usr/share/elasticsearch/logs
    networks:
      - spring-network
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s


  # Kibana
  kibana:
    image: docker.elastic.co/kibana/kibana:8.6.0
    container_name: kibana
    environment:
      ELASTICSEARCH_HOSTS: ${ELASTICSEARCH_HOSTS}
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - spring-network
    restart: always

networks:
  spring-network:
    external: true

volumes:
  postgres-data:
  mongo-data:
  mongo-config:
  esdata:

